.charcon{
    border:1px solid;
    height: 300px;
    width: 270px; 
    overflow:auto;
    
 }
 .charname{
    border:1px solid;
    height: 300px;
    width: 70px; 
    overflow:auto;
    float:left;
    border-right: 0px;
    
 }
 .obname{
    
    height: 30px;
    width: 70px; 
    overflow:auto;
    float:left;
    border-bottom:1px solid;
    
 }
 .nackname{
    height: 30px;
    width: 70px; 
    overflow:auto;
    background: gray;
    border-bottom:1px solid;
    opacity: 0.5;
 }
 .nackcon{
  
   height: 300px;
   width: 270px; 
   overflow:auto;
   background:white;
  
 }
 .chatstyle
 {
    margin-left: 50px;
    background-color: bisque;
    display: block;
 }